lib/DTD/BITS-Book-1.0-DTD/BITS-bookmeta1.ent

<!-- ============================================================= -->
<!--  MODULE:    BITS Book Metadata Elements Module                -->
<!--  VERSION:   BITS 1.0                                          -->
<!--  DATE:      December 2013                                     -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD BITS Book Metadata Elements Module v1.0 20131225//EN"
Delivered as file "BITS-bookmeta1.ent"                             -->
<!-- ============================================================= -->



<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite                        -->         
<!--                                                               -->
<!-- PURPOSE:    Defines the metadata elements, attributes, and    -->
<!--             parameter entities that are shared among all BITS -->
<!--             DTDs but not among JATS DTDs.                     -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             National Center for Biotechnology                 -->
<!--                Information (NCBI)                             -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             This DTD was created as a superset customization  -->
<!--             of the ANSI/NISO JATS Z39.96-2012 Version 1.0     -->
<!--             Journal Article Tag Set.                          -->
<!--                                                               -->
<!--             Digital archives and publishers may use the       -->
<!--             DTD as is for markup of books or book-like        -->
<!--             material for archiving and transferring           -->
<!--             such material between archives or they may create -->
<!--             a custom XML DTD from the BITS Suite for          -->
<!--             these purposes.                                   -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and new DTD-specific customization   -->
<!--             modules to redefine the many Parameter Entities.  -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the BITS DTD Suite    -->
<!--                and intend to stay compatible with the suite,  -->
<!--                then please include the following statement    -->
<!--                as a comment in all of your DTD modules:       -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the Book Interchange Tag Suite (BITS).     -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the Book Interchange Tag Suite       -->
<!--                    (BITS)."                                   -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             April 2012                                        -->
<!--                                                               -->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National      -->
<!--             National Center for Biotechnology Information     -->
<!--             (NCBI), a center of the US National Library of    -->
<!--             Medicine (NLM).                                   -->
<!--                                                               -->
<!--             The BITS Book Interchange DTD is built from the   -->
<!--             Journal Archiving and Interchange DTD of the      -->
<!--             ANSI/NISO Journal Article Tag Suite (JATS)        -->
<!--             Version 1.1d1 (Z39.96-2012).                      -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 bits@ncbi.nlm.nih.gov                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
                                                                   -->
   

<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR LINKING ATTRIBUTES  -->
<!--                    THE FOLLOWING FEW ARE SHARED ATTRIBUTES    -->
<!-- ============================================================= -->


<!--                    XLINK LINK ATTRIBUTES                      -->
<!--                    Used for elements that are a link by
                        definition, such as the <xref> element.    -->
<!ENTITY % link-atts
            "xmlns:xlink CDATA                            #IMPLIED
             xlink:type  (simple)                         #IMPLIED
             xlink:href  CDATA                            #REQUIRED 
             xlink:role  CDATA                            #IMPLIED
             xlink:title CDATA                            #IMPLIED
             xlink:show  (embed | new | none | other | replace)
                                                          #IMPLIED
             xlink:actuate
                         (none | onLoad | onRequest | other)
                                                          #IMPLIED"  >


<!--                    MIGHT LINK XLINK ATTRIBUTES                -->
<!--                    Used for elements which may need to link to
                        external sources or other objects within
                        the document, but may not necessarily act
                        as a link at all.  The attribute
                        "xlink:href" identifies the object to which
                        the link points.                           -->
<!ENTITY % might-link-atts
            "xmlns:xlink CDATA                            #IMPLIED
             xlink:type  (simple)                         #IMPLIED
             xlink:href  CDATA                            #IMPLIED
             xlink:role  CDATA                            #IMPLIED
             xlink:title CDATA                            #IMPLIED
             xlink:show  (embed | new | none | other | replace)
                                                          #IMPLIED
             xlink:actuate
                         (none | onLoad | onRequest | other)
                                                          #IMPLIED"  >

<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    BOOK IDENTIFIER ATTRIBUTES                 -->
<!--                    Attributes for the <book-id> element       -->
<!ENTITY % book-id-atts
           "%jats-common-atts;                                        
             book-id-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    BOOK TITLE ATTRIBUTES                      -->
<!--                    Attributes for the <book-title> element    -->
<!ENTITY % book-title-atts
           "%jats-common-atts;"                                          >                                        


<!--                    BOOK TITLE GROUP ATTRIBUTES                -->
<!--                    Attributes for the <book-title-group> element
                                                                   -->
<!ENTITY % book-title-group-atts
           "%jats-common-atts;"                                          >                                        


<!--                    BOOK VOLUME NUMBER ATTRIBUTES              -->
<!--                    Attributes for the <book-volume-number>    -->
<!ENTITY % book-volume-number-atts
           "%jats-common-atts;"                                          >                                        


<!--                    BOOK VOLUME IDENTIFIER ATTRIBUTES          -->
<!--                    Attributes for the <book-volume-id> element-->
<!ENTITY % book-volume-id-atts
           "%jats-common-atts;"                                          >                                        
             
             
<!--                    PUBLICATION EVENT ATTRIBUTES               -->
<!--                    Attributes for the <event> element         -->
<!ENTITY % event-atts
           "%jats-common-atts;                                        
             event-type CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    EVENT DESCRIPTION ATTRIBUTES               -->
<!--                    Attributes used with the <event-desc> 
                        element.                                   -->
<!ENTITY % event-desc-atts
           "%jats-common-atts;                                        
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    PUBLICATION HISTORY ATTRIBUTES             -->
<!--                    Attributes for the <pub-history> element   -->
<!ENTITY % pub-history-atts
           "%jats-common-atts;"                                          >                                        


<!--                    VOLUME IN COLLECTION ATTRIBUTES            -->
<!--                    Attributes for the <volume-in-collection> 
                        element                                    -->
<!ENTITY % volume-in-collection-atts
           "%jats-common-atts;                                        
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    VOLUME NUMBER ATTRIBUTES                   -->
<!--                    Attributes for the <volume-number> element -->
<!ENTITY % volume-number-atts
           "%jats-common-atts;"                                          >                                        


<!--                    VOLUME TITLE ATTRIBUTES                    -->
<!--                    Attributes for the <volume-title> element  -->
<!ENTITY % volume-title-atts
           "%jats-common-atts;"                                          >                                        


<!-- ============================================================= -->
<!--                    METADATA ELEMENTS                          -->
<!-- ============================================================= -->


<!--                    BOOK IDENTIFIER                            -->
<!--                    An identifier, such as a DOI or archive
                        control number, for a <book> or <book-part>. 
                        Remarks: The @book-id-type attribute
                        should be used to name the type of 
                        identifier, such as "DOI".
                           There is a separate element for the
                        ISBNs <isbn> related to a book.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-id
                                                                   -->
<!ELEMENT  book-id      (#PCDATA)                                    >
<!ATTLIST  book-id
             %book-id-atts;                                          >


<!--                    BOOK TITLE ELEMENTS                        -->
<!--                    Those elements that may mix with the data
                        characters inside a Book Title
                        <book-title>.                              -->
<!ENTITY % book-title-elements
                        "| %all-phrase; | %break.class;"             >


<!--                    BOOK TITLE                                 -->
<!--                    The major title of a work, excluding label
                        and any subtitles.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-title
                                                                   -->
<!ELEMENT  book-title   (#PCDATA %book-title-elements;)*             >
<!ATTLIST  book-title
             %book-title-atts;                                       >


<!--                    BOOK TITLE GROUP MODEL                     -->
<!--                    Content model for the <book-title-group>
                        element, which differs from NISO JATS
                        article <title-group> both by including a
                        label and by using the privileged 
                        <book-title> instead of the privileged 
                        <article-title>.                           -->
<!ENTITY % book-title-group-model
                        "(label?, book-title?, subtitle*, 
                          trans-title-group*, alt-title*, 
                          fn-group?)"                                >


<!--                    BOOK TITLE GROUP                           -->
<!--                    A container element for the various title
                        elements that might be used for the book.
                        This model differs from NISO JATS article 
                        <title-group> in not starting with
                        the privileged <article-title>.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-title-group
                                                                   -->
<!ELEMENT  book-title-group
                        %book-title-group-model;                     >
<!ATTLIST  book-title-group
             %book-title-group-atts;                                 >


<!--                    EVENT DESCRIPTION ELEMENTS                 -->
<!--                    Elements that may be used, along with data
                        characters inside the content model of the
                        <event-desc> element.                      -->
<!ENTITY % event-desc-elements   
                        "| book-id | edition | %date.class; |
                         issn | issn-l | isbn | pub-date "           >
   

<!--                    EVENT DESCRIPTION                          -->
<!--                    This is a description of an event in the
                        publishing history of a book, for example, 
                        reprinting or publication of the revised online
                        edition. This text field may be as
                        simple a few words or as complex as a 
                        narrative with embedded markup.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=event-desc
                                                                   -->
<!ELEMENT  event-desc   (#PCDATA %event-desc-elements;)*             >
<!ATTLIST  event-desc
             %event-desc-atts;                                       >


<!--                    EVENT MODEL                                -->
<!--                    The content model for the <event> element. -->
<!ENTITY % event-model  "(event-desc?, book-id*, edition*,
                          pub-date*, (%date.class;)*, 
                          issn*, issn-l?, isbn*, permissions?,
                          notes*, self-uri*)"                        >


<!--                    EVENT IN PUBLISHING HISTORY                -->
<!--                    This is a description of an event in the
                        publishing history of a book, for example, 
                        reprinting or publication of the revised online
                        edition. This text field may be as
                        simple a few words or as complex as a 
                        narrative with embedded markup.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=event
                                                                   -->
<!ELEMENT  event        %event-model;                                >
<!ATTLIST  event
             %event-atts;                                            >


<!--                    PUBLICATION HISTORY MODEL                  -->
<!--                    The content model for the <pub-history> 
                        element.                                   -->
<!ENTITY % pub-history-model
                        "((%date.class;)*, (%event.class;)* )"       >


<!--                    PUBLICATION HISTORY                        -->
<!--                    Used as a container for events related to the
                        processing history of the document, such as
                        online publication date or reprint date.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=pub-history
                                                                   -->
<!ELEMENT  pub-history  %pub-history-model;                          >
<!ATTLIST  pub-history
             %pub-history-atts;                                      >


<!-- ============================================================= -->
<!--                    VOLUME ELEMENTS                            -->
<!-- ============================================================= -->


<!--                    BOOK VOLUME NUMBER ELEMENTS                -->
<!--                    Elements that may be used, along with data
                        characters inside the content model of the
                        <book-volume-number> element.              -->
<!ENTITY % book-volume-number-elements   
                        "%just-rendition;"                           >
   

<!--                    BOOK VOLUME NUMBER                         -->
<!--                    The volume number of the book.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-volume-number
                                                                   -->
<!ELEMENT  book-volume-number
                        (#PCDATA %book-volume-number-elements;)*     >
<!ATTLIST  book-volume-number
             %book-volume-number-atts;                               >


<!--                    BOOK VOLUME IDENTIFIER ELEMENTS            -->
<!--                    Elements that may be used, along with data
                        characters inside the content model of the
                        <book-volume-id> element.                  -->
<!ENTITY % book-volume-id-elements   
                        "%just-rendition;"                           >
   

<!--                    BOOK VOLUME NUMBER                         -->
<!--                    The volume number of the book.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-volume-id
                                                                   -->
<!ELEMENT  book-volume-id
                        (#PCDATA %book-volume-id-elements;)*         >
<!ATTLIST  book-volume-id
             %book-volume-id-atts;                                   >


<!--                    VOLUME IN COLLECTION MODEL                 -->
<!--                    Content model for the <volume-in-collection>
                        element.                                   -->
<!ENTITY % volume-in-collection-model
                        "(volume-number?, volume-title?)"            >


<!--                    VOLUME IN COLLECTION                       -->
<!--                    A container element for the volume metadata
                        for a book in a collection, for example, to
                        hold the <volume-number>.
                        Remarks: This element may repeat, with a
                        different language for each set of volume
                        data or a different usage.
                        Remarks: Volume information for books, 
                        encyclopedias, and book series is not the same 
                        kind of "volume" as the <volume> that is part 
                        of the NISO JATS journal metadata. Large works
                        such as an encyclopedia may be divided into 
                        physical, logical, or semantic volumes. A book 
                        may be published as a monograph as well 
                        as part of one or more collections or 
                        monographic series. So volume information is 
                        needed at the series (collection) level. In 
                        addition, books of articles are published that 
                        are similar to the <volume> in a journal 
                        article and such volume metadata needs to be 
                        specified at the book level.                       
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=volume-in-collection
                                                                   -->
<!ELEMENT  volume-in-collection
                        %volume-in-collection-model;                 >
<!ATTLIST  volume-in-collection
             %volume-in-collection-atts;                             >


<!--                    VOLUME NUMBER ELEMENTS                     -->
<!--                    Elements that may be used, along with data
                        characters inside the content model of the
                        <volume-number> element.                   -->
<!ENTITY % volume-number-elements   
                        "| %subsup.class;"                           >
   

<!--                    VOLUME NUMBER                              -->
<!--                    The volume number of this book within the
                        collection.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=volume-number
                                                                   -->
<!ELEMENT  volume-number
                        (#PCDATA %volume-number-elements;)*          >
<!ATTLIST  volume-number
             %volume-number-atts;                                    >


<!--                    VOLUME TITLE ELEMENTS                      -->
<!--                    Elements that may be used, along with data
                        characters inside the content model of the
                        <volume-title> element.                    -->
<!ENTITY % volume-title-elements   
                        "| %all-phrase; | %break.class;"             >
   

<!--                    VOLUME TITLE                               -->
<!--                    The volume title of this book within the
                        collection. This need not be the same title
                        as the book has when published as a
                        standalone monograph.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=volume-title
                                                                   -->
<!ELEMENT  volume-title (#PCDATA %volume-title-elements;)*           >
<!ATTLIST  volume-title
             %volume-title-atts;                                     >


<!-- ================== BITS Book Metadata Elements ============== -->

