lib/DTD/BITS-Book-1.0-DTD/BITS-question-answer1.ent

<!-- ============================================================= -->
<!--  MODULE:    BITS Question and Answer Module                   -->
<!--  DATE:      December 2013                                     -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD BITS Question and Answer Module v1.0 20131225//EN"
Delivered as file "BITS-question-answer1.ent"                      -->
<!-- ============================================================= -->


 
<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite                        -->         
<!--                                                               -->
<!-- PURPOSE:    Defines a model for questions, sets of questions, -->
<!--             and answers. This is a very basic model, expected -->
<!--             to be extended. NOTE: This is NOT a model for a   -->
<!--             quiz, test, or exam; such a containing model      -->
<!--             could be built using sections and the questions   -->
<!--             answers defined in this module.                   -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             National Center for Biotechnology                 -->
<!--                Information (NCBI)                             -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             This DTD was created as a superset customization  -->
<!--             of the ANSI/NISO JATS Z39.96-2012 Version 1.0     -->
<!--             Journal Article Tag Set.                          -->
<!--                                                               -->
<!--             Digital archives and publishers may use the       -->
<!--             DTD as is for markup of books or book-like        -->
<!--             material for archiving and transferring           -->
<!--             such material between archives or they may create -->
<!--             a custom XML DTD from the BITS Suite for          -->
<!--             these purposes.                                   -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and new DTD-specific customization   -->
<!--             modules to redefine the many Parameter Entities.  -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the BITS DTD Suite    -->
<!--                and intend to stay compatible with the suite,  -->
<!--                then please include the following statement    -->
<!--                as a comment in all of your DTD modules:       -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the Book Interchange Tag Suite (BITS).     -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the Book Interchange Tag Suite       -->
<!--                    (BITS)."                                   -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             May 2013                                          -->
<!--                                                               -->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National      -->
<!--             National Center for Biotechnology Information     -->
<!--             (NCBI), a center of the US National Library of    -->
<!--             Medicine (NLM).                                   -->
<!--                                                               -->
<!--             The BITS Book Interchange DTD is built from the   -->
<!--             Journal Archiving and Interchange DTD of the      -->
<!--             ANSI/NISO Journal Article Tag Suite (JATS)        -->
<!--             Version 1.1d1 (Z39.96-2012).                      -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 bits@ncbi.nlm.nih.gov                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
                                                                   -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE VALUES    -->
<!-- ============================================================= -->


<!--                    TYPES OF ANSWERS                           -->
<!--                    Used to name the type of question or
                        question set.                              -->
<!ENTITY % answer-types "essay | fill-in-the-blank | multi-select |
                         multiple-choice | short-answer |
                         true-false"                                 >


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    QUESTION WRAP ATTRIBUTES                   -->
<!--                    Attributes for the <question-wrap> element -->
<!ENTITY % question-wrap-atts
           "%jats-common-atts;                                       
             audience   CDATA                             #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use     
                        CDATA                             #IMPLIED"  >


<!--                    QUESTION ATTRIBUTES                        -->
<!--                    Attributes for the <question> element      -->
<!ENTITY % question-atts
           "%jats-common-atts;                                       
             rid        IDREFS                            #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use     
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    ANSWER SET ATTRIBUTES                      -->
<!--                    Attributes for the <answer> element        -->
<!ENTITY % answer-set-atts
           "%jats-common-atts;                                       
             rid        IDREFS                            #IMPLIED
             answer-type
                        (%answer-types;)                  #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use     
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    ANSWER ATTRIBUTES                          -->
<!--                    Attributes for the <answer> element        -->
<!ENTITY % answer-atts
           "%jats-common-atts;                                       
             rid        IDREFS                            #IMPLIED
             answer-type 
                        (%answer-types;)                  #IMPLIED
             correct    (yes | no)                        #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use     
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    EXPLANATION ATTRIBUTES                     -->
<!--                    Attributes for the <explanation> element   -->
<!ENTITY % explanation-atts
           "%jats-common-atts;                                       
             content-type
                        CDATA                             #IMPLIED
             specific-use     
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!-- ============================================================= -->
<!--                    QUESTION/ANSWER ELEMENTS                   -->
<!-- ============================================================= -->


<!--                    QUESTION WRAP MODEL                        -->
<!--                    Content model for the <question-wrap>
                        element.                                   -->
<!ENTITY % question-wrap-model
                        "((%id.class;)*, question, 
                          (answer | answer-set)?, explanation*)"     >


<!--                    QUESTION WRAP                              -->
<!--                    Used to model a Question/Answer scheme. These
                        questions may be used, for example, for the
                        Continuing Medical Education articles in a
                        book of articles. The model allows for
                        simple questions followed by their
                        corresponding answers or for a multiple
                        choice setup, where questions are followed
                        by multiple alternative answers, along with
                        the correct answer and an explanation.
                        Note: This is not the model for a full
                        quiz, test, exam, etc., but such a model
                        could be built using these components for
                        the question/answers.    
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=question-wrap
                                                                   -->
<!ELEMENT  question-wrap
                        %question-wrap-model;                        >
<!ATTLIST  question-wrap
            %question-wrap-atts;                                     >


<!--                    QUESTION MODEL                             -->
<!--                    Content model for the <question> element.  -->
<!ENTITY % question-model
                        "((%id.class;)*, %sec-opt-title-model;)"     >


<!--                    QUESTION                                   -->
<!--                    A question (request for an answer) used in
                        the text or as part of a quiz, exam, etc. 
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=question
                                                                   -->                                                                   
<!ELEMENT  question     %question-model;                             >
<!ATTLIST  question
            %question-atts;                                          >


<!--                    ANSWER SET MODEL                           -->
<!--                    Content model for the <answer-set> element.-->
<!ENTITY % answer-set-model
                        "((%id.class;)*, 
                          (answer | %just-para.class; | 
                           explanation)+)"                           >


<!--                    ANSWER SET                                 -->
<!--                    A series of answers, typically in response
                        to a question.                            
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=answer-set
                                                                   -->                                                                   
<!ELEMENT  answer-set   %answer-set-model;                           >
<!ATTLIST  answer-set
            %answer-set-atts;                                        >


<!--                    ANSWER MODEL                               -->
<!--                    Content model for the <answer> element.    -->                                                                   
<!ENTITY % answer-model
                        "((%id.class;)*,
                          label?, title?, subtitle*, alt-title*, 
                          ( (%sec-level;)+ |
                            ( (%para-level;)+, (%sec-level;)* ) ),  
                          (%sec-back-matter-mix;)*, 
                          explanation*)"                             >           
                         

<!--                    ANSWER ELEMENTS                            -->
<!--                    An answer to a question                    
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=answer
                                                                   -->
<!ELEMENT  answer       %answer-model;                               >
<!ATTLIST  answer
            %answer-atts;                                            >


<!--                    EXPLANATION MODEL                          -->
<!--                    Content model for the <answer-set> element.-->
<!ENTITY % explanation-model
                        "(%just-para.class;)+"                       >
                        
                        
<!--                    EXPLANATION                                -->
<!--                    A description of a question/answer or of just
                        an answer or answer set. The explanation
                        may describe, for example, why this 
                        particular answer is incorrect, or where in 
                        the text the material for this question
                        can be found, et al.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=explanation
                                                                   -->                       
<!ELEMENT  explanation  %explanation-model;                          >
<!ATTLIST  explanation
            %explanation-atts;                                       >
            

<!-- ================== End BITS Question and Answer Module ====== -->

