lib/DTD/BITS-Book-1.0-DTD/BITS-book-part1.ent

<!-- ============================================================= -->
<!--  MODULE:    BITS Book Component Elements                      -->
<!--  VERSION:   BITS 1.0                                          -->
<!--  DATE:      December 2013                                     -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD BITS Book Component Elements v1.0 20131225//EN"
Delivered as file "BITS-book-part1.ent"                            -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite                        -->         
<!--                                                               -->
<!-- PURPOSE:    Declare book-component-level elements such as     -->
<!--             chapter-specific or part-specific elements.       -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             National Center for Biotechnology                 -->
<!--                Information (NCBI)                             -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             This DTD was created as a superset customization  -->
<!--             of the ANSI/NISO JATS Z39.96-2012 Version 1.0     -->
<!--             Journal Article Tag Set.                          -->
<!--                                                               -->
<!--             Digital archives and publishers may use the       -->
<!--             DTD as is for markup of books or book-like        -->
<!--             material for archiving and transferring           -->
<!--             such material between archives or they may create -->
<!--             a custom XML DTD from the BITS Suite for          -->
<!--             these purposes.                                   -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and new DTD-specific customization   -->
<!--             modules to redefine the many Parameter Entities.  -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the BITS DTD Suite    -->
<!--                and intend to stay compatible with the suite,  -->
<!--                then please include the following statement    -->
<!--                as a comment in all of your DTD modules:       -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the Book Interchange Tag Suite (BITS).     -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the Book Interchange Tag Suite       -->
<!--                    (BITS)."                                   -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             April 2012                                        -->
<!--                                                               -->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National      -->
<!--             National Center for Biotechnology Information     -->
<!--             (NCBI), a center of the US National Library of    -->
<!--             Medicine (NLM).                                   -->
<!--                                                               -->
<!--             The BITS Book Interchange DTD is built from the   -->
<!--             Journal Archiving and Interchange DTD of the      -->
<!--             ANSI/NISO Journal Article Tag Suite (JATS)        -->
<!--             Version 1.1d1 (Z39.96-2012).                      -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 bits@ncbi.nlm.nih.gov                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION\CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
                                                                   -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE VALUES    -->
<!-- ============================================================= -->


<!--                    BOOK PART LOCATIONS                        -->
<!--                    When a <book-part> is exchanged, the
                        @from-where attribute cam be used to record
                        the origin of the <book-part>, inside the
                        narrative <front-matter>, the <body>, the
                        rear matter (<back>,) or in  supplementary
                        material.                                  -->
<!ENTITY % book-part-locations
                        "front-matter | body | back | supplemental"  >


<!-- ============================================================= -->
<!--                    BOOK PART ATTRIBUTE LISTS                  -->
<!-- ============================================================= -->


<!--                    BACK ATTRIBUTES                            -->
<!--                    Attributes for the <back> element          -->
<!ENTITY % back-atts
           "%jats-common-atts;                                        
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    BODY ATTRIBUTES                            -->
<!--                    Attributes for the <body> element          -->
<!ENTITY % body-atts
           "%jats-common-atts;                                        
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    BOOK PART ATTRIBUTES                       -->
<!--                    Attributes used with the <book-part> element
                                                                   -->
<!ENTITY % book-part-atts
           "%jats-common-atts;                                        
             book-part-type
                        CDATA                             #IMPLIED
             seq        CDATA                             #IMPLIED
             indexed    (yes | no)                        #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             %XLINK.xmlns.attrib;
             %MATHML.xmlns.attrib;
             %xinclude.xmlns.attrib;
             %Schema.xmlns.attrib;"                                  >


<!--                    BODY PART METADATA ATTRIBUTES              -->
<!--                    Attributes for the <book-part-meta> element-->
<!ENTITY % book-part-meta-atts
           "%jats-common-atts;"                                          >                                        


<!--                    FRONT MATTER PART ATTRIBUTES               -->
<!--                    Attributes used with the 
                        <front-matter-part> element                -->
<!ENTITY % front-matter-part-atts    
           "%jats-common-atts;                                        
             book-part-type
                        CDATA                             #IMPLIED
             seq        CDATA                             #IMPLIED
             indexed    (yes | no)                        #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             %XLINK.xmlns.attrib;  
             %MATHML.xmlns.attrib;   
             %Schema.xmlns.attrib;"                                  >


<!--                    DEDICATION ATTRIBUTES                      -->
<!--                    Attributes used with the 
                        <dedication> element                       -->
<!ENTITY % dedication-atts    
           "%jats-common-atts;                                        
             book-part-type
                        CDATA                             #IMPLIED
             seq        CDATA                             #IMPLIED
             indexed    (yes | no)                        #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             %XLINK.xmlns.attrib;  
             %MATHML.xmlns.attrib;   
             %Schema.xmlns.attrib;"                                  >


<!--                    FOREWORD PART ATTRIBUTES                   -->
<!--                    Attributes used with the 
                        <foreword> element                         -->
<!ENTITY % foreword-atts    
           "%jats-common-atts;                                        
             book-part-type
                        CDATA                             #IMPLIED
             seq        CDATA                             #IMPLIED
             indexed    (yes | no)                        #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             %XLINK.xmlns.attrib;  
             %MATHML.xmlns.attrib;   
             %Schema.xmlns.attrib;"                                  >


<!--                    NAMED BOOK PART ATTRIBUTES                 -->
<!--                    Attributes for the <named-book-part-body> 
                        element                                    -->
<!ENTITY % named-book-part-body-atts
           "%jats-common-atts;"                                          >                                        


<!--                    PREFACE ATTRIBUTES                         -->
<!--                    Attributes used with the 
                        <preface> element                          -->
<!ENTITY % preface-atts    
           "%jats-common-atts;                                        
             book-part-type
                        CDATA                             #IMPLIED
             seq        CDATA                             #IMPLIED
             indexed    (yes | no)                        #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             %XLINK.xmlns.attrib;  
             %MATHML.xmlns.attrib;   
             %Schema.xmlns.attrib;"                                  >


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    BOOK PART IDENTIFIER ATTRIBUTES            -->
<!--                    Attributes for the <book-part-id> element  -->
<!ENTITY % book-part-id-atts
           "%jats-common-atts;                                        
             book-part-id-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    COLLECTION METADATA ATTRIBUTES             -->
<!--                    Attributes used with the book set or book
                        series element <collection-meta>           -->
<!ENTITY % collection-meta-atts
           "%jats-common-atts;                                        
             seq        CDATA                             #IMPLIED
             collection-type       
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    COLLECTION IDENTIFIER ATTRIBUTES           -->
<!--                    Attributes used with the book set or book
                        series element <collection-id>             -->
<!ENTITY % collection-id-atts
           "%jats-common-atts;                                        
             collection-id-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!-- ============================================================= -->
<!--                    BOOK PARTS (COMPONENTS SUCH AS CHAPTERS)   -->
<!-- ============================================================= -->


<!--                    BOOK PART MODEL                            -->
<!--                    Content model for the <book-part> element  -->
<!ENTITY % book-part-model
                        "(book-part-meta?, front-matter?, body?, 
                          back?)"                                    >


<!--ELEM  front-matter    Defined in %book.dtd;                    -->
<!--ELEM  back            Defined in %book.dtd;                    -->


<!--                    BOOK PART                                  -->
<!--                    A major organizational unit of a book,
                        typically called a "chapter", but given
                        many names in common language, for example,
                        chapter, part, unit, module, section, topic, 
                        lesson, canto, volume, or even "book".  
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-part
                                                                   -->
<!ELEMENT  book-part    %book-part-model;                            >
<!ATTLIST  book-part
             %book-part-atts;                                        >


<!-- ============================================================= -->
<!--                    BOOK PART METADATA ELEMENTS                -->
<!-- ============================================================= -->


<!--                    BOOK PART METADATA MODEL                   -->
<!--                    Full content model for the metadata that is
                        specific to a book component, such as a
                        chapter or unit.                           -->
<!ENTITY % book-part-meta-model 
                        "(book-part-id*, subj-group*, title-group?,
                          (%contrib-group.class; |
                           %aff-alternatives.class; | %x.class;)*, 
                          author-notes?, pub-date*, edition*, 
                          issn*, issn-l?, isbn*, 
                          publisher*, 
                          ((fpage, lpage?) | elocation-id)?,
                          supplementary-material*, pub-history*, 
                          permissions?, self-uri*, 
                          (%related-article.class;)*,
                          (%abstract.class;)*, trans-abstract*, 
                          (%kwd-group.class;)*,
                          funding-group*, conference*, counts?,
                          custom-meta-group*,
                          (%front-back.class;)* )"                   >


<!--                    BOOK PART METADATA                         -->
<!--                    Container element for the metadata that is
                        specific to the large-scale components that
                        comprise the body of a book, such as a
                        chapter, unit, part, or module (all tagged
                        as the element <book-part>).
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-part-meta
                                                                   -->
<!ELEMENT  book-part-meta
                        %book-part-meta-model;                       >
<!ATTLIST  book-part-meta
             %book-part-meta-atts;                                   >


<!--                    BOOK PART IDENTIFIER                       -->
<!--                    An identifier, such as a DOI or archive
                        control number, for a <book-part>. 
                        Remarks: The @book-part-id-type attribute
                        should be used to name the type of 
                        identifier, such as "doi".
                           There is a separate element for the
                        ISBNs <isbn> related to a <book-part>.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-id
                                                                   -->
<!ELEMENT  book-part-id (#PCDATA)                                    >
<!ATTLIST  book-part-id
             %book-part-id-atts;                                     >


<!-- ============================================================= -->
<!--                    BOOK PARTS BODY ELEMENTS                   -->
<!-- ============================================================= -->


<!--                    BOOK PART BODY MODEL                       -->
<!--                    Content model for the <book-part-body> 
                        element                                    -->
<!ENTITY % body-model   "((%para-level;)*, (%sec-level;)*,
                          (%book-part.class;)* )"                    >


<!--                    BOOK PART BODY                             -->
<!--                    The narrative and graphical portion of a
                        major component of a book, such as a 
                        chapter. This is the text of the chapter as
                        distinguished from the metadata such as the
                        chapter number or editors.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=body
                                                                   -->
<!ELEMENT  body         %body-model;                                 >
<!ATTLIST  body
             %body-atts;                                             >


<!-- ============================================================= -->
<!--                    BACK MATTER ELEMENTS                       -->
<!-- ============================================================= -->


<!--                    BACK MATTER MODEL                          -->
<!--                    Content model for the Back Matter element
                        which contains ancillary material such as 
                        reference lists and appendices for a book
                        part such as a chapter.                    -->
<!ENTITY % back-model   "(label?, title*,
                          (%back-only.class; | 
                           %both-front-back.class; | 
                           %front-back.class; | %sec.class; |
                           %sig-block.class;)+  )"                   >



<!--                    BACK MATTER                                -->
<!--                    Ancillary or supporting material not included
                        as part of the main textual content of a
                        book, for example appendices and lists of
                        references.
                        At first inception, this element differed from
                        the <book-back> element in NOT containing
                        book parts (<book-part>). 
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=back
                                                                   -->
<!ELEMENT  back         %back-model;                                 >
<!ATTLIST  back
             %back-atts;                                             >


<!-- ============================================================= -->
<!--                    COLLECTION METADATA                        -->
<!-- ============================================================= -->


<!--                    COLLECTION METADATA                        -->
<!--                    Content model for the collection metadata
                        element <collection-meta>.                 -->
<!ENTITY % collection-meta-model   
                        "(collection-id*, subj-group*, title-group?, 
                          (%contrib-group.class; |
                          %aff-alternatives.class; | %x.class;)*, 
                          author-notes?, pub-history*, 
                          volume-in-collection*,
                          issn*, issn-l?, isbn*, 
                          publisher*, edition*, 
                          permissions?, self-uri*,
                          (%related-article.class;)*,
                          (%abstract.class;)*, trans-abstract*, 
                          (%kwd-group.class;)*,
                          funding-group*, conference*, counts?,
                          custom-meta-group*,
                          (%front-back.class;)* )"                   >


<!--                    COLLECTION METADATA                        -->
<!--                    Bibliographic metadata describing a book set 
                        or series to which this book or book part
                        belongs. Note: This series metadata is not
                        complete en ought to pro dice a publishers's
                        catalog; this is just the series metadata that
                        travels with a book. By design, this will
                        NOT include metadata concerning other books
                        in the series.
                        Remarks: BITS is deliberately agnostic
                        concerning the definition of a book series
                        or a book set, leaving the question of 
                        definition to the publisher.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=collection-meta
                                                                   -->
<!ELEMENT  collection-meta
                        %collection-meta-model;                      >
<!ATTLIST  collection-meta
             %collection-meta-atts;                                  >


<!--                    COLLECTION IDENTIFIER                      -->
<!--                    An identifier, such as a DOI or archive
                        control number, or LCCN for a series or set
                        of books.
                        Remarks: The @collection-id-type attribute
                        should be used to name the type of 
                        identifier, such as "lccn".
                           There is a separate element for the
                        ISBNs <isbn> related to a book.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-id
                                                                   -->
<!ELEMENT  collection-id
                        (#PCDATA)                                    >
<!ATTLIST  collection-id
             %collection-id-atts;                                    >


<!-- ============================================================= -->
<!--                    NAMED BOOK PART MODELS                     -->
<!-- ============================================================= -->

<!--                    NAMED BOOK PART MODEL                      -->
<!--                    Content model for the named book part
                        elements such as <foreword> and
                        <dedication>.                              -->
<!ENTITY % named-book-part-model
                        "(book-part-meta?, named-book-part-body?, 
                          back?)"                                    >


<!--                    NAMED BOOK PART BODY MODEL                 -->
<!--                    Content model for the body of any of the named 
                        book parts such as the <dedication>.       -->
<!ENTITY % named-book-part-body-model
                        "( ((%para-level;)+, (%sec-level;)* ) |
                            (%sec-level;)+ )"                        >

<!--                    NAMED BOOK PART BODY                       -->
<!--                    Content model for the non-recursive body of
                        a named bookparts such as a <dedication> or
                        <foreword>.                                -->
<!ELEMENT  named-book-part-body   
                        (%named-book-part-body-model;)               >
<!ATTLIST  named-book-part-body
             %named-book-part-body-atts;                             >


<!-- ============================================================= -->
<!--                    NAMED BOOK PART ELEMENTS                   -->
<!-- ============================================================= -->


<!--                    FRONT MATTER PART MODEL                    -->
<!--                    Content model for the named book part
                        <front-matter-part>.                       -->
<!ENTITY % front-matter-part-model
                        "%named-book-part-model;"                    >


<!--                    FRONT MATTER PART                          -->
<!--                    Narrative introductory material such as
                        Preface, Foreword, Dedication,
                        Introduction to the Fifth Edition, etc.
                        This is a more simplified version of a book
                        part, being non-recursive.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=front-matter-part
                                                                   -->
<!ELEMENT  front-matter-part
                        (%front-matter-part-model;)                  >
<!ATTLIST  front-matter-part
             %front-matter-part-atts;                                >


<!--                    DEDICATION MODEL                           -->
<!--                    Content model for the named book part
                        <dedication>.                              -->
<!ENTITY % dedication-model
                        "%named-book-part-model;"                    >


<!--                    DEDICATION                                 -->
<!--                    A named book component that contains text
                        dedicating the book in some fashion.
                        Note: A publisher could choose to call this
                        component just another <book-part>, but many
                        publishers specifically identify dedications,
                        so this element was included in BITS.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=dedication
                                                                   -->
<!ELEMENT  dedication   %dedication-model;                           >
<!ATTLIST  dedication
             %dedication-atts;                                       >

  
<!--                    FOREWORD MODEL                             -->
<!--                    Content model for the named book part
                        <foreword>.                                -->
<!ENTITY % foreword-model
                        "%named-book-part-model;"                    >


<!--                    FOREWORD                                   -->
<!--                    A named book component that contains text
                        which is called a "Foreword"; each publisher
                        is free to define that term.
                        Note: A publisher could choose to call this
                        component just another <book-part>, but many
                        publishers specifically identify dedications,
                        so this element was included in BITS.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=foreword
                                                                   -->
<!ELEMENT  foreword     %foreword-model;                             >
<!ATTLIST  foreword
             %foreword-atts;                                         >

  
<!--                    PREFACE MODEL                              -->
<!--                    Content model for the named book part
                        <preface>.                                 -->
<!ENTITY % preface-model
                        "%named-book-part-model;"                    >


<!--                    PREFACE                                    -->
<!--                    A named book component that contains text
                        which is called a "Preface"; each publisher
                        is free to define that term.
                        Note: A publisher could choose to call this
                        component just another <book-part>, but many
                        publishers specifically identify dedications,
                        so this element was included in BITS.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=preface
                                                                   -->
<!ELEMENT  preface      %preface-model;                              >
<!ATTLIST  preface
             %preface-atts;                                          >


<!-- ================== End Book Part Elements =================== -->