lib/DTD/BITS-Book-1.0-DTD/BITS-index1.ent

<!-- ============================================================= -->
<!--  MODULE:    BITS Structural Index Elements Module             -->
<!--  VERSION:   BITS 1.0                                          -->
<!--  DATE:      December 2013                                     -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD BITS Structural Index Elements Module v1.0 20131225//EN"
Delivered as file "BITS-index1.ent"                                -->
<!-- ============================================================= -->



<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite                        -->         
<!--                                                               -->
<!-- PURPOSE:    Defines the elements, attributes, and parameter   -->
<!--             entities specific for a structural Index.         -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             National Center for Biotechnology                 -->
<!--                Information (NCBI)                             -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             This DTD was created as a superset customization  -->
<!--             of the ANSI/NISO JATS Z39.96-2012 Version 1.0     -->
<!--             Journal Article Tag Set.                          -->
<!--                                                               -->
<!--             Digital archives and publishers may use the       -->
<!--             DTD as is for markup of books or book-like        -->
<!--             material for archiving and transferring           -->
<!--             such material between archives or they may create -->
<!--             a custom XML DTD from the BITS Suite for          -->
<!--             these purposes.                                   -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and new DTD-specific customization   -->
<!--             modules to redefine the many Parameter Entities.  -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the BITS DTD Suite    -->
<!--                and intend to stay compatible with the suite,  -->
<!--                then please include the following statement    -->
<!--                as a comment in all of your DTD modules:       -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the Book Interchange Tag Suite (BITS).     -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the Book Interchange Tag Suite       -->
<!--                    (BITS)."                                   -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             April 2012                                        -->
<!--                                                               -->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National      -->
<!--             National Center for Biotechnology Information     -->
<!--             (NCBI), a center of the US National Library of    -->
<!--             Medicine (NLM).                                   -->
<!--                                                               -->
<!--             The BITS Book Interchange DTD is built from the   -->
<!--             Journal Archiving and Interchange DTD of the      -->
<!--             ANSI/NISO Journal Article Tag Suite (JATS)        -->
<!--             Version 1.1d1 (Z39.96-2012).                      -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 bits@ncbi.nlm.nih.gov                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
                                                                   -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    INDEX GROUP ATTRIBUTES                     -->
<!--                    Attributes for the <index-group> element   -->
<!ENTITY % index-group-atts
           "%jats-common-atts;                                       
             xml:lang   NMTOKEN                           #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    INDEX DIVISION ATTRIBUTES                  -->
<!--                    Attributes for the <index-div> element     -->
<!ENTITY % index-div-atts
           "%jats-common-atts;                                       
             xml:lang   NMTOKEN                           #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    INDEX ATTRIBUTES                           -->
<!--                    Attributes for the <index> element         -->
<!ENTITY % index-atts
           "%jats-common-atts;                                       
             xml:lang   NMTOKEN                           #IMPLIED
             index-type CDATA                             #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    INDEX ENTRY ATTRIBUTES                     -->
<!--                    Attributes for the <index-entry> element   -->
<!ENTITY % index-entry-atts
           "%jats-common-atts;                                       
             sort-key   CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    SEE ENTRY ATTRIBUTES                       -->
<!--                    Attributes for the <see-entry> element     -->
<!ENTITY % see-entry-atts
           "%jats-common-atts;                                       
             rid        IDREFS                            #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    SEE ALSO ENTRY ATTRIBUTES                  -->
<!--                    Attributes for the <see-also-entry> element-->
<!ENTITY % see-also-entry-atts
           "%jats-common-atts;                                      
             rid        IDREFS                            #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED"  >


<!-- ============================================================= -->
<!--                    TOP-LEVEL INDEX ELEMENTS                   -->
<!-- ============================================================= -->


<!--                    INDEX GROUP MODEL                          -->
<!--                    Content model for the Structural Index Group
                        <index-group> element.                     -->
<!ENTITY % index-group-model  
                        "(title-group?, (%para-level;)*, 
                          (%index.class;)+  )"                       >


<!--                    INDEX GROUP                                -->
<!--                    Collection of one or more Indexes.
                        Collected Indexes need not be grouped into
                        this element. This is a presentational model.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=index-group
                                                                   -->
<!ELEMENT  index-group  %index-group-model;                          >
<!ATTLIST  index-group
             %index-group-atts;                                      >


<!--                    INDEX MODEL                                -->
<!--                    Content model for the Structural Index
                        <index> element.                           -->
<!ENTITY % index-model  "(title-group?, (%para-level-minus-x;)*, 
                          (%index-entry.class; | %index-div.class; |
                           %x.class;)+  )"                           >


<!--                    INDEX                                      -->
<!--                    Structural, multi-level index, typically used
                        for capturing a back-of-the-book or similar
                        index that is already present in a book being 
                        converted to this Tag Set, although it may 
                        also be used for indexes generated from index 
                        terms set within the text. 
                        This is a presentational model.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=index
                                                                   -->
<!ELEMENT  index        %index-model;                                >
<!ATTLIST  index
             %index-atts;                                            >


<!-- ============================================================= -->
<!--                    INDEX COMPONENT ELEMENTS                   -->
<!-- ============================================================= -->
                          

<!--                    INDEX ENTRY MODEL                          -->
<!--                    Content model for the Structural Index
                        <index-entry> element.                     -->
<!ENTITY % index-entry-model  
                        "(term, (%struct-link.class;)*, 
                          (%index-entry.class; | 
                           %see-also-see-entry.class; | 
                           %x.class;)*  )"                           >


<!--                    INDEX ENTRY                                -->
<!--                    One entry, with all its subdivisions,
                        see and see also, and navigational pointers
                        (if any) in a structural index.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=index-entry
                                                                   -->
<!ELEMENT  index-entry  %index-entry-model;                          >
<!ATTLIST  index-entry 
             %index-entry-atts;                                      >
                          

<!--                    INDEX DIVISION MODEL                       -->
<!--                    Content model for the Structural Index
                        <index-entry> element.                     -->
<!ENTITY % index-div-model  
                        "(title-group?, (%para-level-minus-x;)*, 
			                      (%index-entry.class; | %index-div.class; |
			                       %x.class;)+                            )"  >


<!--                    INDEX DIVISION                             -->
<!--                    Division, typically for the purposes of
                        display, in a structural index, for example
                        a division holding the heading "A" and
                        all of the initial alphabetically
                        arranged index entries.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=index-div
                                                                   -->
<!ELEMENT  index-div    %index-div-model;                            >
<!ATTLIST  index-div 
             %index-div-atts;                                        >


<!--                    SEE INDEX ENTRY TERM ELEMENTS              -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        a <see-entry> element.
                        Design Note: All inline mixes begin with an
                        OR bar, but since %simple-phrase; is an
                        inline mix, the OR bar is already there.   -->
<!ENTITY % see-entry-elements 
                        "%simple-phrase; | %block-math.class; |
                         %simple-display-noalt.class;"               >


<!--                    SEE INDEX ENTRY                            -->
<!--                    A See (meaning use as preferred) entry in a
                        structural index.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=see-entry
                                                                   -->
<!ELEMENT  see-entry    (#PCDATA %see-entry-elements;)*              >
<!ATTLIST  see-entry
             %see-entry-atts;                                        >


<!--                    SEE-ALSO INDEX ENTRY TERM ELEMENTS         -->
<!--                    The elements that can be included along with
                        data characters inside the content model of
                        a <see-also-entry> element.
                        Design Note: All inline mixes begin with an
                        OR bar, but since %simple-phrase; is an
                        inline mix, the OR bar is already there.   -->
<!ENTITY % see-also-entry-elements 
                        "%simple-phrase; | %block-math.class; |
                         %simple-display-noalt.class;"               >


<!--                    SEE-ALSO INDEX ENTRY                       -->
<!--                    A See Also (meaning see related) entry in a
                        structural index.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=see-also-entry
                                                                   -->
<!ELEMENT  see-also-entry
                        (#PCDATA %see-also-entry-elements;)*         >
<!ATTLIST  see-also-entry
             %see-also-entry-atts;                                   >


<!-- ================== End BITS Structural Index Elements ======= -->

