lib/schemas/JATS-DTDs/BITS-toc2.ent

<!-- ============================================================= -->
<!--  MODULE:    BITS Structural Table of Contents Module          -->
<!--  VERSION:   BITS 2.0                                          -->
<!--  DATE:      June 2015                                         -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD BITS Structural Table of Contents Module v2.0 20151225//EN"
Delivered as file "BITS-toc2.ent"                                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite                        -->
<!--                                                               -->
<!-- PURPOSE:    Defines the elements, attributes, and parameter   -->
<!--             entities specific for a structural Table of       -->
<!--             Contents.                                         -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             National Center for Biotechnology                 -->
<!--                Information (NCBI)                             -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             This DTD was created as a superset customization  -->
<!--             of the ANSI/NISO JATS Z39.96-2012 Version 1.0     -->
<!--             Journal Article Tag Set.                          -->
<!--                                                               -->
<!--             Digital archives and publishers may use the       -->
<!--             DTD as is for markup of books or book-like        -->
<!--             material for archiving and transferring           -->
<!--             such material between archives or they may create -->
<!--             a custom XML DTD from the BITS Suite for          -->
<!--             these purposes.                                   -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and new DTD-specific customization   -->
<!--             modules to redefine the many Parameter Entities.  -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the BITS DTD Suite    -->
<!--                and intend to stay compatible with the suite,  -->
<!--                then please include the following statement    -->
<!--                as a comment in all of your DTD modules:       -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the Book Interchange Tag Suite (BITS).     -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the Book Interchange Tag Suite       -->
<!--                    (BITS)."                                   -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             April 2012                                        -->
<!--                                                               -->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National      -->
<!--             National Center for Biotechnology Information     -->
<!--             (NCBI), a center of the US National Library of    -->
<!--             Medicine (NLM).                                   -->
<!--                                                               -->
<!--             The BITS Book Interchange DTD is built from the   -->
<!--             Journal Archiving and Interchange DTD of the      -->
<!--             ANSI/NISO Journal Article Tag Suite (JATS)        -->
<!--             Version 1.1d1 (Z39.96-2015).                      -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 bits@ncbi.nlm.nih.gov                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
    =============================================================
     BITS Version 2.0                (DAL/BTU) v2.0  (2015-12-25)
     JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)

     JATS is a continuing maintenance NISO Standard, which
     requires voting by the ANSI and NISO memberships to be changed. 
     JATS 1.1 was approved in late 2015, and BITS modified to use
     the most recent version. No other changes to BITS were made.
 
  5. TOC-TITLE-GROUP
      - Created new element <toc-title-group> which replaces the
        element <title-group> inside the following elements
         - <toc-group>
         - <toc>
         - <toc-div>
       The element <title-group> has been reserved for top-level 
       structures such as standards and articles.
 
  4. BITS remained version "2.0" but became "v2.0 20151225"
     JATS became version "1.1" and "v1.1 20151215"

    =============================================================
     BITS Version 2.0                (DAL/BTU) v2.0    (2015-03-15)
     JATS Version 1.1              (DAL/BTU) v1.1  (2015-03-01)

     BITS was modified, based on user feedback collected in 2014 
     and January/February 2015, according to the decisions
     made by the BITS Working Group. This DTD represents current 
     BITS and an interim version of the non-normative JATS DTD 
     Suite (version 1.1), as an indication to JATS users of 
     the decisions that have been made by the JATS Standing
     Committee. 

     NISO JATS is a continuing maintenance NISO Standard, which
     requires voting by the NISO membership to be changed. This
     Committee Draft 1.1 will be sent to the NISO voting
     membership, to become (if approved) NISO JATS 1.1.

  3. FOOTNOTES IN TOC - Added <fn-group> to the end of the
     model for <toc>.

  2. BITS became version "2.0" and   "v2.0 20150630"
     JATS became version "1.1" and "v1.1 20150301"

     =============================================================
     BITS Version 1.1                (DAL/BTU) v1.1    (2014-00-30)
     JATS Version 1.1d2              (DAL/BTU) v1.1d2  (2014-00-30)

     NISO JATS is a continuing maintenance NISO Standard, which
     requires voting by the NISO membership to be changed. This
     Committee Draft 1.1d2 will be sent to the NISO voting
     membership, to become (if approved) NISO JATS 1.1.

     This catalog represents an interim version of the
     non-normative JATS DTD Suite, as an indication to JATS users
     the decisions that have been made by the JATS Standing
     Committee.

  1. BITS became version "1.1" and   "v1.1 20140930//EN"
     JATS became version "1.1d2" and "v1.1d2 20140930//EN"

     =============================================================
                                                                   -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    TABLE OF CONTENTS GROUP ATTRIBUTES         -->
<!--                    Attributes for the <toc-group> element     -->
<!ENTITY % toc-group-atts
           "%jats-common-atts;
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    TABLE OF CONTENTS ATTRIBUTES               -->
<!--                    Attributes for the <toc> element           -->
<!ENTITY % toc-atts
           "%jats-common-atts;
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    TABLE OF CONTENTS ENTRY ATTRIBUTES         -->
<!--                    Attributes for the <toc-entry> element     -->
<!ENTITY % toc-entry-atts
           "%jats-common-atts;
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    TABLE OF CONTENTS DIVISION ATTRIBUTES      -->
<!--                    Attributes for the <toc-div> element       -->
<!ENTITY % toc-div-atts
           "%jats-common-atts;
             content-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    TOC TITLE GROUP ATTRIBUTES                 -->
<!--                    Attribute list for the <toc-title-group> 
                        element.                                   -->
<!ENTITY % toc-title-group-atts
            "%jats-common-atts;"                                     >



<!-- ============================================================= -->
<!--                    TABLE OF CONTENTS AND GROUPING ELEMENTS    -->
<!-- ============================================================= -->


<!--                    TABLE OF CONTENTS Model                    -->
<!--                    Content model for the <toc-group> element  -->
<!ENTITY % toc-group-model
                        "(toc-title-group?, (%para-level;)*,
                          (%toc.class;)+)"                           >


<!--                    TABLE OF CONTENTS GROUP                    -->
<!--                    Collection of one or more Tables of Contents.
                        Collected ToCs need not be grouped inside this
                        element. This is a presentational model.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/2.0/index.html?elem=toc-group
                                                                   -->
<!ELEMENT  toc-group    %toc-group-model;                            >
<!ATTLIST  toc-group
             %toc-group-atts;                                        >


<!--                    TABLE OF CONTENTS Model                    -->
<!--                    Content model for the <toc> element        -->
<!ENTITY % toc-model    "(toc-title-group?, (%para-level-minus-x;)*,
                          (%toc-entry.class; | %toc-div.class; |
                           %x.class;)+, (%fn-group.class;)* )"      >


<!--                    TABLE OF CONTENTS                          -->
<!--                    Structural, multi-level Table of Contents,
                        typically used for capturing a ToC already
                        present in a book being converted to this
                        Tag Set, although it may also be used for
                        Tables of Contents generated from book and
                        book-part metadata.
                        This is a presentational model.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/2.0/index.html?elem=toc
                                                                   -->
<!ELEMENT  toc          %toc-model;                                  >
<!ATTLIST  toc
             %toc-atts;                                              >


<!-- ============================================================= -->
<!--                    INSIDE A TABLE OF CONTENTS ELEMENTS        -->
<!-- ============================================================= -->


<!--                    TABLE OF CONTENTS ENTRY MODEL              -->
<!--                    Content model for the <toc-entry> element. -->
<!ENTITY % toc-entry-model
                        "(label?, title*, subtitle*,
                          (%contrib-group.class; | %para-level; |
                           %toc-abstract.class;)*,
                          (%struct-link.class;)?,
                          (%toc-entry.class;)* )"                    >


<!--                    TABLE OF CONTENTS ENTRY                    -->
<!--                    One, typically entry in a structural
                        Table of Contents.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/2.0/index.html?elem=toc-entry
                                                                   -->
<!ELEMENT  toc-entry    %toc-entry-model;                            >
<!ATTLIST  toc-entry
             %toc-atts;                                              >


<!--                    TABLE OF CONTENTS DIVISION MODEL           -->
<!--                    Content model for the <toc-div> element.   -->
<!ENTITY % toc-div-model
                        "(toc-title-group?,
                          (%contrib-group.class; | %para-level;)*,
                          (%struct-link.class;)?,
                          (%toc-entry.class; | %toc-div.class;)+ )"  >


<!--                    TABLE OF CONTENTS DIVISION                 -->
<!--                    Division, typically for the purposes of
                        display, in a structural ToC, for example
                        a division holding the first Part of a
                        3-part book, and the titles of all the
                        chapters in that Part.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/2.0/index.html?elem=toc-div
                                                                   -->
<!ELEMENT  toc-div      %toc-div-model;                              >
<!ATTLIST  toc-div
             %toc-div-atts;                                          >

<!-- ============================================================= -->
<!--                    TOC TITLE GROUP                            -->
<!-- ============================================================= -->


<!--                    TOC TITLE GROUP MODEL                      -->
<!--                    Content model for <toc-title-group>.       -->
<!ENTITY % toc-title-group-model
                        "(label?, title?, subtitle*,
                          trans-title-group*, alt-title*,
                          fn-group?)"                                >


<!--                    TOC TITLE GROUP                            -->
<!--                    Container element that holds
                        all the titles and subtitles for a structural
                        Table of Contents. Similar to <title-group>
                        in the document metadata.                  -->
<!ELEMENT  toc-title-group
                        %toc-title-group-model;                      >
<!ATTLIST  toc-title-group
             %toc-title-group-atts;                                  >


<!-- ================== End BITS Table of Contents Elements ====== -->

